@import url("global.css");

.sidebar {
  position:fixed;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 100px;
  flex-wrap: wrap;
  align-content:flex-start;
}
.sidebar-item {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  padding: auto;
  text-align: center;
  transition: background-image 0.15s;
  transition-timing-function: ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
